/* Personnalisation du thème */

:root {
   --color-beige: #887970;
   --color-bordeaux: rgb(123, 28, 65);
   --color-jaune: #DB9724;
   --color-vert: #94A284;
   --color-noir: #1b191a;
   --color-blanc : white; 
   --color-dark: #1B4332;
   --color-medium: #52B788;
   --color-light: #b7e4c7;
   --color-medium-modal: rgb(82, 183, 136);
}


/** NAV */
/* Couleur hover autre fichier css 10910 +10938 */
.bg-nav-color {
    background-color: var(--color-noir);
}


/** BODY */
.bg-color {
    background-color: var(--color-noir);
}

/** HEADER */
/* header {
    background-image: linear-gradient(rgba(123, 28, 64, 0.64), rgba(123, 28, 65, 0.64)),
        url("../assets/img/bg-cv.svg");
    background-size: 100%;
}
    */     
/** PORTOFOLIO */
/* MODAL */
.btn-color {
    background-color: var(--color-medium);
    color: var(--color-blanc);

}

.btn-color:hover {
    background-color: var(--color-light);
    color: var(--color-blanc);

}

.btn-color-link {
    background-color: var(--color-dark);
    color: var(--color-blanc);
}

.btn-color-link:hover {
    background-color: var(--color-medium);
    color: var(--color-blanc);
}

/** ABOUT */
.subtitle-color {
    color: var(--color-light);
    font-size: 2em;
}

.size-content {
    font-size: 1.8em;
}

a.btn-social-hover {
    background-color: var(--color-medium);
}

/** FOOTER */
.bg-footer-color {
    background-color: var(--color-noir);
}

/** COLOR **/

.text-color-white {
    color: var(--color-blanc);
}
.text-color-dark {
    color: var(--color-dark);
}

.text-color-medium {
    color: var(--color-medium);
}

.text-color-light {
    color: var(--color-light);
}

.text-color-black {
    color: var(--color-noir);
}